body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, 'Courier New', monospace;
}

* {
  margin: 0;
  padding: 0;
}

/* .app {
  height: calc(100vh - 7.8rem);
} */
